<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        
          <ion-menu-toggle auto-hide="false" >
            <ion-item (click)='goToVistorPage()' >
              Visitor Entry
            </ion-item>
            <ion-item (click)='goToVistorLog()'>
              Visitor Log
            </ion-item>
            <ion-item (click)='latestNews()'>
              Latest News
            </ion-item>
          </ion-menu-toggle>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
