<ion-header>
  <ion-toolbar>
    <ion-title>Visitor Entry</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size=12 size-md=6 offset-md=3 size-lg=6 offset-md=3 class="ion-padding">
      <ion-item>
        <ion-label position='stacked'>
          Name
        </ion-label>
        <ion-input type='text' [(ngModel)]='name' placeholder='Enter Visitor Name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position='stacked'>
          Email
        </ion-label>
        <ion-input type='text' [(ngModel)]='email' placeholder='Enter Visitor Name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position='stacked'>
          Type of visit
        </ion-label>
        <ion-select placeholder='Select Visit type' [(ngModel)]='visitType'>
          <ion-select-option value="Meeting">Meeting</ion-select-option>
          <ion-select-option value="Delivery">Delivery</ion-select-option>
          <ion-select-option value="Personal">Personal</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position='stacked'>
          Person to visit
        </ion-label>
        <ion-input type='text' [(ngModel)]='visitPerson' placeholder='Enter Visitor Name'></ion-input>
      </ion-item>

      <ion-item >
        <ion-label position='stacked'>
          Date of Entry
        </ion-label>
        <ion-datetime disabled='true' [(ngModel)]='entryDate'  displayFormat="DD MM YYYY" ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position='stacked'>
          Time to entry
        </ion-label>
        <ion-datetime [(ngModel)]='entrytime' displayFormat="hh:mm:A" placeholder='Select Entry Time' ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position='stacked'>
          Time to exit
        </ion-label>
        <ion-datetime [(ngModel)]='exitTime' displayFormat="hh:mm:A" placeholder='Select Exit Time'></ion-datetime>
      </ion-item>

      <div style="width: 100%; text-align: center;">
        <ion-button (click)='onSubmit()'>Submit</ion-button>
        <ion-button (click)='onVisitorLog()'>Visitor Log</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
